  <ul class="collapsible">
    	<li>
    		<div class="collapsible-header"><i class="material-icons">filter_drama</i>Filter By Technician</div>
    		<div class="collapsible-body">
  				<form action="">
  					{% for technician in technician %}
    				<p style="display:inline-flex;">
      					<label>
        					<input type="checkbox" />
        						<span>{{ technician.nickname }}</span>
      					</label>
    				</p>
    				{% endfor %}
    				<input type="text" class="datepicker">
    				<input type="text" class="datepicker">
    				  <div class="input-field col s12">
					    <select multiple>
					    	{% for client in client %}
					      	<option value="{{ client.oid }}">{{ client.clientname }}</option>
					     	{% endfor %}
					    </select>
					    <label>Materialize Select</label>
					  </div>
					    <select multiple>
					    	{% for status in status %}
					      	<option value="{{ status.oid }}">{{ status.status }}</option>
					     	{% endfor %}
					    </select>
					    <label>Materialize Select</label>
					  </div>
					  </div>
					    <select multiple>
					    	{% for contacts in contacts %}
					      	<option value="{{ contacts.oid }}">{{ contacts.contactname }}</option>
					     	{% endfor %}
					    </select>
					    <label>Materialize Select</label>
					  </div>					  
    				  <button class="btn waves-effect waves-light" type="submit" name="action">Submit
    						<i class="material-icons right">send</i>
  						</button>
				</form>
			</div>
			</div>
		</li>
	</ul>



    </li>
	<form id='ff' method="GET" action="{% url 'crm:ticket_detail' %}" id="profile_tickets">
		
					<table class='striped responsive-table-vertical'>
						<caption>Active Issues</caption>
						<thead>
	          				<tr>
	          					<th>Technician</th>
	              				<th>Ticket Title</th>
	              				<th>Start Date</th>
	              				<th>Status</th>
	          				</tr>
	    				</thead>
	     				<tbody>
	     				{% for tickets in tickets %}
	     				
	          			<tr>
	        				
	          				<td data-label='Technician'>{{ tickets.technician}}</td>	          			
				            <td data-label='Ticket Title'>{{ tickets.ticket_title }}</td>
				            <td data-label='Start Date'>{{ tickets.ticketstartdate }}</td>
				            <td data-label='Ticket Status'>{{ tickets.ticket_status }}</td>
				            <td><button value="{{ tickets.oid }}" name="ticket" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">check</i></button></td>
				           
	          			</tr>

	          			{% endfor %}
	        			</tbody>
					</table>
				</form>


<script>
	$(document).ready(function(){
    $('.fixed-action-btn').floatingActionButton();
    $('.collapsible').collapsible();
    $('.datepicker').datepicker();
    $('select').formSelect();
  });
</script>

