{% block tickettable %}
<div class="ticket_wall" id="ticket_window">
	
	<form id='ff' method="GET" action="{% url 'crm:ticket_detail' %}" id="profile_tickets">
		<div class="tckt_container" id="ticket_container">		
			<div class="ticket_table" id="table">
				<div class="container" id="tablebody">
					<table class='striped'>
						<thead>
	          				<tr>
	              				<th>Ticket Title</th>
	              				<th>Start Date</th>
	              				<th>Status</th>
	          				</tr>
	    				</thead>
	     				<tbody>
	     				{% for tickets in tickets %}
	          			<tr>
	          				<td>{{ tickets.technician}}
				            <td>{{ tickets.ticket_title }}</td>
				            <td>{{ tickets.ticketstartdate }}</td>
				            <td>{{ tickets.ticket_status }}</td>
				            <td><button value="{{ tickets.oid }}" name="ticket" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">check</i></button></td>

	          			</tr>
	          			{% endfor %}
	        			</tbody>
					</table>
				</div>
			</div>
		</div>
	</form>
</div>

<script>
	
</script>
{% endblock %}
