{% extends 'base.html' %}

{% block head %}
<title>Profile</title>
<form method="GET" action="{% url 'accounts:testemail' %}">
	<button type='submit'>TESTMAIL</button>
</form>
{% endblock %}

{% block title %}
<h3>Dashboard<h4>
{% endblock %}

{% block body %}
{% if tickets %}
<div class="current-issues-window">
{% include 'crm_temps/ticket-table.html' %}
</div>

<div class="ticket-table">
{% include 'crm_temps/ticket-table.html'}
</div>

{% else %}
<div class='container'>
<h2>username: {{ user }}</h2>
<h2>first name: {{ user.first_name }}</h2>
<h2>last name: {{ user.last_name }}</h2>
<h2>email: {{ user.email }}</h2>
</div>
<form method="POST" action="" id="auto_submit_form">
	{% csrf_token %}
	<input type="hidden" name="recent_tickets" value="{{ user.username }}"></input>
</form>
{% endif %}

<script>
	$(document).ready(function(){
	$("#auto_submit_form").submit();

	
});

</script>
{% endblock %}


