  <form method="GET" action="{% url 'crm:ticket-filter' %}">
  <p>
    {% for technicians in technicians %}
      <label for="{{ technicians.nickname }}">
        <input name='tech_filter' type="checkbox" id="{{ technicians.nickname }}" value="{{ technicians.nickname }}" />
        <span>{{ technicians.nickname }}</span>
      </label>
     {% endfor %}
    </p>
      <div class="input-field col s12">
    <select multiple name="client_filter">
      {% for client in client %}
      <option value="{{ client.oid }}">{{ client.clientname }}</option>
      {% endfor %}
    </select>

    <label>Materialize Multiple Select</label>
  </div>
</form>



<script type="text/javascript">
  $(document).ready(function(){
      $('.dropdown-trigger').dropdown();
       $('.collapsible').collapsible();
  });
</script>