{% block multi-page-new-ticket %}
<form method=POST action="{% url 'crm:create_ticket' %}">
    {% csrf_token %}
   

{{ ticket }}
        
   
    
{{ entries }}
<button class="btn waves-effect waves-light" type="submit" name="action">Submit
<i class="material-icons right">send</i>
</button>
</form>
<script>
    $('select').formSelect();
    $('select').formSelect().attr("class","browser-default");

   

    $('#id_ticketstartdate').datepicker();

    $('#id_clientid').change(function(event){
        if($("#hotness").children().length) {
          $("#hotness").empty();
            ajaxEmail();
        } else {
            ajaxEmail();
        }
    });
        function ajaxEmail () {    
        var urls = $('#ajax_url').attr('href');
        var  clientid = $('#id_clientid');
        $.ajax({
            type: "POST",
            dataType: "json",
            url: urls,
            data: {
                'clientid' : $('#id_clientid').val(), csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
            },
            success: function(result) {
                $.each(result, function(index, value) {
                    $('#id_contact_name')
                        .append($("<option></option>")
                                .attr("value",value.fields.contactname)
                                .text(value.fields.contactname));
                });
        $('#id_contact_name').formSelect();




                $.each(result, function(index, value){
                    if($('.input'))
                    if (value.fields.sendticketcompleteemail == true) {
                        $('#hotness').append($('<p></p>')).append($('<label></label>').attr('for', value.fields.emailaddress)).append($('<input />').attr('type','checkbox')).append($('<span></span>').text(value.fields.contactname))                     
                    };
                     
                })


            },
        
            error: function (error) {
                alert("Error with Ajax, You SUCK");
            }
        });
    };

</script>
{% endblock %}

 











