
{% include 'crm_temps/forms/multi-page-new-ticket.html' %}


<a id="ajax_url" href="{% url 'crm:ajax_req' %}"></a>



<script>
  

    $("[name='enddate']").focusout(function(){
        var sd = new Date($('#id_startdate').val());
        var ed = new Date($('#id_enddate').val());
        var time = (ed - sd)/1000;
        $('#id_time_spent_minutes_field').attr("value", time);
        
    });

     $(document).ready(function(){
    $('select').formSelect();
    $('datepicker').datepicker();
  });
</script>
